/* Markdown preview
---------------------------------------------------------------------------------- */

body {
	padding: 20px;

	font: 16px/1.4 Tahoma, Helvetica, sasns-serif;
	color: #444;
	}

blockquote {
	margin-left: 0;
	padding-left: 40px;

	border-left: 6px solid #ccc;
	}

/* /Markdown preview
---------------------------------------------------------------------------------- */